<!DOCTYPE html>
<html>
<head>
  <title>Imageapp</title>
  <link rel="stylesheet" href="/css/bootstrap-all.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Application</h1>
<%= yield %>

<script src="/js/angular.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/images.js"></script>
</body>
</html>
